<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>aits</title>
</head>
<body style="{% if request.cookies.get('font') %}font-family:{{ request.cookies.get('font') }}{% endif %}">

<header class="header">
       <div class="container">
        <div class="header__inner">
            <div class="header__logo">Projekt w ramach AiTS </div>
            <nav class="nav">
             <form>
				<input type="button" value="Go back" onclick="history.back()">
			</form>
            <form>
				<input type="button" id="home-CSS" value="About" onclick=window.open("/about");>
			</form>
             <a class="nav__link active" href="/disabled"><button id="close-CSS"></button></a>
             </nav>
        </div>
    </div>
    </header>

<form action="/">
    <input type="submit"  />
</form>

 <form>
 <input type="button"  onclick="history.back()">
</form>



<section class=" ">
    <div class="container_cookies">

Select Font Preference: <br>
<form action="" method="post">
    <select name="font" onchange="submit()">
        <option value="">----</option>
        <option value="consolas" {% if request.cookies.get('font') == 'consolas' %}selected{% endif %}>consolas</option>
        <option value="arial" {% if request.cookies.get('font') == 'arial' %}selected{% endif %}>arial</option>
        <option value="verdana" {% if request.cookies.get('font') == 'verdana' %}selected{% endif %}>verdana</option>
    </select>
</form>

<h1>The Beatles</h1>
<h1>A Day In The Life</h1>
<p></p>
I read the news today, oh boy<br>
About a lucky man who made the grade <br>
And though the news was rather sad        <br>
Well, I just had to laugh       <br>
I saw the photograph                  <br>

</div>
</section>



</body>
</html>