<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>


<body>

<header class="header">
       <div class="container">
        <div class="header__inner">
            <div class="header__logo">The Art of Smile</div>
            <nav class="nav">
                <a class="nav__link active" href="/">Home</a>
                <a class="nav__link" href="/about">About</a>
                <a class="nav__link" href="#">Services</a>
                <a class="nav__link" href="#">Gallery</a>
                <a class="nav__link" href="#">Metamorphoses</a>
                <a class="nav__link" href="#">Contact</a>
            </nav>
        </div>
    </div>
    </header>



<div class="intro">
    <div class="container">
        </div>

</div>


<section class=" ">
    <div class="container">

        <div class="section__header">

            <h3 class="section__suptitle">Welcome to The Art of Smile</h3>

            <h2 class="section__title">Story about us</h2>
            <div class="section__text">
                <p>We offer a complete range of private dental and hygiene treatments,
                    performed by skilled and passionate professionals in our world-class surgery.
                    We work for our patients, who at all times will be treated with dignity, understanding and respect.
                </p>
            </div>
        </div>


 <div class = "card">
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/about/1.jpg" alt="">
         </div>
     </div>
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/about/2.jpg" alt="">
         </div>
     </div>
     <div class="card__item"><div class="card__img">
         <img src="static/images/about/3.jpg" alt="">
         </div>
     </div>
 </div>

<section class=" ">
    <div class="container">

        <div class="section__header">
            <div id="markTeam"> </div>
            <h3 class="section__suptitle">

                Who we are</h3>
            <h2 class="section__title">Meet our team</h2>
         <div class="section__text">
                <p>The Art of Smile team is comprised of friendly and highly skilled individuals
                    all driven by the same mission: to give you the best dental experience possible.
                    Everyone in our practice, from our front office team to our hygienists and dental
                    assistants want to give you the highest level of quality dental care.
                    You will feel this the moment you step into our office all the way until your scheduled appointment is over.
                </p>
         </div>
        </div>


 <div class = "card">
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/team/1.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name"> Dr. Ruslan Shkira</div>
                    <div class="card__prof">Dentist</div>
                     <div class="card__text">Dr. Ruslan is the doctor-owner of The Art of Smile.
                     He completed him dental degree at Ivano-Frankivsk National Medical University.
                     </div>
                </div>
     </div>
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/team/2.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name"> Dr. Volodymyr Kovtun</div>
                    <div class="card__prof">Dentist</div>
                    <div class="card__text">Dr. Volodymyr is the doctor .... .
                    He  .... .
                   </div>
                </div>
     </div>
     <div class="card__item"><div class="card__img">
         <img src="static/images/team/3.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name">Dr. Tetiana </div>
                    <div class="card__prof">Dentist</div>
                    <div class="card__text">Dr. Tetiana is the doctor .... .
                    She  .... .
                   </div>
                </div>
     </div>
 </div>

   <div class = "card">
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/team/4.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name">Galyna </div>
                    <div class="card__prof">Front office </div>
                    <div class="card__text"> Galyna loves the family atmosphere at The Art of Smile.
                   </div>
                </div>
     </div>

 </div>

</body>
</html>


