{% extends 'base.html' %}

{% block title %}
Contact - The Art of Smile
{% endblock %}

{% block templatesbody %}

      <div class="empty">
    <div class="empty__container">
        </div>
</div>

<section class=" ">
    <div class="container">

        <div class="section__header">
            <h2 class="section__title">Contact</h2>
        </div>
</div>
    <div class="empty">
    <div class="empty__container"></div>
</div>

</section>



<section class=" ">
<div class="container">
<div class="map-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.249122396705!2d24.696866215677616!3d48.94874207929642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c052de496be7%3A0xf7d24602f9ec170c!2sKhimikiv%20St%2C%205%2C%20Ivano-Frankivsk%2C%20Ivano-Frankivs&#39;ka%20oblast%2C%20Ukraine%2C%2077423!5e0!3m2!1sen!2spl!4v1615066133025!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
</section>

{% endblock %}