<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>The Art of Smile</title>
</head>

    <body>

    <header class="header">
       <div class="container">
        <div class="header__inner">
            <div class="header__logo">The Art of Smile</div>
            <nav class="nav">
                <a class="nav__link active" href="/">Home</a>
                <a class="nav__link active" href="/about">About</a>
                <a class="nav__link active" href="/services">Services</a>
                <a class="nav__link active" href="/gallery">Gallery</a>
                <a class="nav__link active" href="/contact">Contact us</a>
                <a class="nav__link active" href="/disabled"><button id="close-CSS"></button></a>
             </nav>
        </div>
    </div>
    </header>

    <div class="empty">
    <div class="empty__container"></div>
</div>

    <section class=" ">
    <div class="disabled__container">
        <center><h1>The Art of Smile</h1></center>
 <h4>We offer a complete range of private dental and hygiene treatments,
     performed by skilled and passionate professionals in our world-class surgery.
     We work for our patients, who at all times will be treated with dignity, understanding
     and respect.</h4>
         </div>

            <div class="disabled__container1">
        <center><h1>Test</h1></center>
 <table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>
         </div>
</section>

    </body>
</html>