<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>The Art of Smile</title>
</head>

    <body>

    <header class="header">
       <div class="container">
        <div class="header__inner">
            <div class="header__logo">The Art of Smile</div>
            <nav class="nav">
                <a class="nav__link active" href="/">Home</a>
                <a class="nav__link active" href="/about">About</a>
                <a class="nav__link active" href="/aits">aits</a>
                <a class="nav__link active" href="/gallery">Gallery</a>
                <a class="nav__link active" href="/contact">Contact us</a>
               <button id="close-CSS"><a class="nav__link active" href="/disabled"></a></button>
               </nav>
        </div>
    </div>
    </header>

    <div class="empty">
    <div class="empty__container"></div>
</div>

   
   <div class="disabled__container">   
	<div class="disabled__col  disabled__col--first">
            <dfn>The Art of Smile </dfn> <br>
             <h4><br><br>We offer a complete range of private dental and hygiene treatments.</h4>
	</div>
             
	<div class="disabled__col  disabled__col--second">
         <table style="width:100%">
               <caption> </caption>
               <tr>
                  <td><h3> Monday:</h3></td>
                  <td><h4> 10:00 AM - 7:00 PM</h4> </td>
               </tr>
               <tr>
                  <td><h3> Tuesday:</h3></td>
                  <td><h4>10:00 AM - 7:00 PM</h4></td>
               </tr>
               <tr>
                  <td><h3> Wednesday:</h3> </td>
                  <td><h4>10:00 AM - 7:00 PM</h4></td>
               </tr>
               <tr>
                  <td><h3> Thursday:</h3></td>
                  <td><h4>10:00 AM - 7:00 PM</h4></td>
               </tr>
               <tr>
                  <td><h3> Friday:</h3></td>
                  <td><h4>10:00 AM - 7:00 PM</h4></td>
               </tr>
               <tr>
                  <td> <h3> Saturday:</h3> </td>
                  <td><h4>10:00 AM - 7:00 PM</h4></td>
               </tr>
               <tr>
                  <td><h3> Sunday:</h3></td>
                  <td><h4>CLOSED</h4></td>
               </tr>
            </table>
	</div>

    <div class="fdisabled__col  disabled__col--third">

 <h3>Phone: +380 67 177 0778 </h3>
 <h3>Address:<br></h3>
  <h4> Khimikiv St, 5b, Ivano-Frankivsk<br>
		Ivano-Frankivs'ka oblast<br>
		Ukraine, 77423<br>
   </h4>

	</div>
    
</div>


   

    </body>
</html>