{% extends 'base.html' %}

{% block title %}
Gallery - The Art of Smile
{% endblock %}

{% block templatesbody %}


<section class=" ">
	<div class="container">
	<div class="section__header">
		<p>  .</p>
		<h3 class="section__suptitle">Feeling Good</h3>
		<h2 class="section__title">Nina Simone</h2>
		<div class="section__text">
			<p> It's a new dawn 	</p>
			<p>It's a new day  		</p>
			<p>It's a new life  	</p>
			<p>For me  			  	</p>
			<p>And I'm feeling good	</p>
		</div>
	</div>
	</div>
</section>


{% endblock %}