{% extends 'base.html' %}

{% block title %}
The Art of Smile
{% endblock %}

{% block templatesbody %}
<div class="intro">
    <div class="container">
        </div>

</div>


<section class=" ">
    <div class="container">

        <div class="section__header">

            <h3 class="section__suptitle">Welcome to The Art of Smile</h3>

            <h2 class="section__title">Story about us</h2>
            <div class="section__text">
                <p>We offer a complete range of private dental and hygiene treatments,
                    performed by skilled and passionate professionals in our world-class surgery.
                    We work for our patients, who at all times will be treated with dignity, understanding and respect.
                </p>
            </div>
        </div>


 <div class = "card">
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/about/1.jpg" alt="">
         </div>
     </div>
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/about/2.jpg" alt="">
         </div>
     </div>
     <div class="card__item"><div class="card__img">
         <img src="static/images/about/3.jpg" alt="">
         </div>
     </div>
 </div>
         </div>
</section>

<section class=" ">
    <div class="container">

        <div class="section__header">
            <div id="markTeam"> </div>
            <h3 class="section__suptitle">

                Who we are</h3>
            <h2 class="section__title">Meet our team</h2>
         <div class="section__text">
                <p>The Art of Smile team is comprised of friendly and highly skilled individuals
                    all driven by the same mission: to give you the best dental experience possible.
                    Everyone in our practice, from our front office team to our hygienists and dental
                    assistants want to give you the highest level of quality dental care.
                    You will feel this the moment you step into our office all the way until your scheduled appointment is over.
                </p>
         </div>
        </div>


 <div class = "card">
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/team/1.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name"> Dr. Ruslan Shkira</div>
                    <div class="card__prof">Dentist</div>
           </div>
     </div>
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/team/2.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name"> Dr. Volodymyr Kovtun</div>
                    <div class="card__prof">Dentist</div>

                </div>
     </div>
     <div class="card__item"><div class="card__img">
         <img src="static/images/team/3.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name">Dr. Tetiana </div>
                    <div class="card__prof">Dentist</div>
            </div>
     </div>
 </div>

   <div class = "card">
     <div class="card__item">
         <div class="card__img">
         <img src="static/images/team/4.jpg" alt="">
         </div>
          <div class="card__info">
                    <div class="card__name">Galyna </div>
                    <div class="card__prof">Front office </div>
          </div>
                </div>
     </div>

 </div>
</section>


<section class=" ">
    <div class="container">
        <div class="section__header">
            <h3 class="section__suptitle">What we do</h3>
            <h2 class="section__title">some of our work</h2>
        </div>
</div>

    <div class="empty">
    <div class="empty__container">
        </div>
</div>
</section>



<section class=" ">
    <div class="container">

        <div class="section__header">
            <h2 class="section__title">Contact</h2>
        </div>
</div>
    <div class="empty">
    <div class="empty__container"></div>
</div>

</section>




<section class=" ">
    <div class="container">
       <!--Google map-->
<div class="map-container__index">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.249122396705!2d24.696866215677616!3d48.94874207929642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c052de496be7%3A0xf7d24602f9ec170c!2sKhimikiv%20St%2C%205%2C%20Ivano-Frankivsk%2C%20Ivano-Frankivs&#39;ka%20oblast%2C%20Ukraine%2C%2077423!5e0!3m2!1sen!2spl!4v1615066133025!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<!--Google Maps-->
</div>
</section>


{% endblock %}